.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    z-index: 999;
}

.player-control{
    display: flex;
    gap: 20px;
}